# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\100 Days of Code\learning_users\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
